.footer{
    color: white;
    text-align: center;
    background-color: #3b5998;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 265px;
    margin-left: -115px;
    margin-right: -115px;
}