<!-- <div class="cre"> -->
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- <div class="card">
        
            </div> -->
            <img src="/assets/images/facebook_world.png" alt="image">
            </div>
            <div class="col">
                <!-- <div class="card" style="background-color: #F1F1F1;"> -->
                <div class="col-md-8 offset-md-3">
                    <h3 style="text-align: center;">Registration</h3>
                    <form (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <!-- <label>Name</label> -->
                            <div class="col-20">
                                <input type="text" class="form-control" id="name"  [(ngModel)] = "user.name" name="name"name="name" minlength="2"
                                    maxlength="20" placeholder="Enter name">
                            </div>
                            <!-- <div class="col-10" *ngIf="employeeError?.name">
                    <span class="text text-danger">{{employeeError.name}}</span>
                </div> -->
                        </div><br>

                        <div class="form-group">
                            <!-- <label>Email</label> -->
                            <div class="col-20">
                                <input type="text" class="form-control" id="email" [(ngModel)] = "user.email" name="email"
                                    placeholder="Enter email">
                            </div>
                            <!-- <div class="col-10" *ngIf="employeeError?.name">
                    <span class="text text-danger">{{employeeError.name}}</span>
                </div> -->
                        </div><br>

                        <div class="form-group">
                            <!-- <label>DOB</label> -->
                            <div class="col-20">
                                <input type="date" class="form-control" id="dob" [(ngModel)] = "user.dob" name="dob" placeholder="Enter dob">
                            </div>
                            <!-- <div class="col-10" *ngIf="employeeError?.name">
                    <span class="text text-danger">{{employeeError.name}}</span>
                </div> -->
                        </div><br>

                        <div class="form-group">
                            <!-- <label>Phone</label> -->
                            <div class="col-20">
                                <input type="text" class="form-control" id="phone" [(ngModel)] = "user.phone" name="phone"
                                    placeholder="Enter phone">
                            </div>
                            <!-- <div class="col-10" *ngIf="employeeError?.name">
                    <span class="text text-danger">{{employeeError.name}}</span>
                </div> -->
                        </div><br>

                        <div class="form-group">
                            <!-- <label>Address</label> -->
                            <div class="col-20">
                                <input type="text" class="form-control" id="address" [(ngModel)] = "user.address" name="address"
                                    placeholder="Enter address">
                            </div>
                            <!-- <div class="col-10" *ngIf="employeeError?.name">
                    <span class="text text-danger">{{employeeError.name}}</span>
                </div> -->
                        </div><br>

                        <div class="form-group">
                            <label>Gender</label>&nbsp;&nbsp;
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)] = "user.gender" id="inlineRadio1"
                                    value="Male">
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" [(ngModel)] = "user.gender" id="inlineRadio2"
                                    value="Female">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                            <!-- <div class="col-10" *ngIf="employeeError?.name">
                    <span class="text text-danger">{{employeeError.name}}</span>
                </div> -->
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <div class="col-20">
                                <input type="password" class="form-control" id="password" [(ngModel)] = "user.password" name="password"
                                    placeholder="Enter password">
                            </div>
                            <!-- <div class="col-10" *ngIf="employeeError?.name">
                    <span class="text text-danger">{{employeeError.name}}</span>
                </div> -->
                        </div><br>

                        <div class="col-md-12 text-center">
                        <button class="btn btn-success" type="submit">Create an account</button>
                    </div>
                    </form>

                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <footer class="footer_signup">
        <div class="container">
            <span>All Right Reserved 2022 @AmanChouhan and @RoyalRanjan </span>
        </div>
      </footer>
<!-- </div> -->