

.colur{
    background-color: #F1F1F1;
    /* margin-left: 400px; */
    /* border: none; */
    /* width: 120%; */
    /* margin-left: -120px; */
    /* margin-right: -115px; */ 
    /* padding: 0%; */
    
}
.footer_signup{
    color: white;
    text-align: center;
    background-color: #3b5998;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 29px;
    margin-left: -115px;
    margin-right: -115px;
}



