<nav class="navbar navbar-expand-sm">
  <h1 class="title">Spacebook</h1>
   <ul class="navbar-nav">
      <!--<li class="nav-item">
          <a routerLink="courses" routerLinkActive="active" class="nav-link">Course List</a>
      </li>
      <li class="nav-item">
          <a routerLink="create-course" routerLinkActive="active" class="nav-link">Add Course</a>
      </li>
      <li class="nav-item">
          <a routerLink="user-login" routerLinkActive="active" class="nav-link">Login</a>
      </li> -->
      <div class="nav">
     <li class="nav-item">
          <a routerLink="login-user" routerLinkActive="active" class="nav-link">Login</a>
      </li>&nbsp;&nbsp;&nbsp;
      <li class="nav-item">
          <a routerLink="create-user" routerLinkActive="active" class="nav-link">Sign Up</a>
      </li>
    </div>
      

  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <footer class="footer">
  <div class="container">
      <span>All Right Reserved 2022 @AmanChouhan and @RoyalRanjan </span>
  </div>
</footer>
 -->
