<h1  style="text-align: center; border: 10px;"></h1>
<h2>User List</h2>
<table class="table table-striped"> 
    <thead>
        <tr>
            <th>ID </th>
            <th>Name </th>
            <th>Gender </th>
            <th>Email</th>
            <th>DOB</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td> 
            <td>{{user.name}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.email}}</td>
            <td>{{user.dob | date:'shortDate'}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.address}}</td>
            
            
            <!-- <td class="justify-content-start">
                <button (click)="updateUser(user.id)" class="btn btn-info" >Update</button>
                <button class="btn btn-danger" style="margin-left: 10px;">Delete</button>
                <button (click)="userDetail(user.id)" class="btn btn-info"  style="margin-left: 10px;">View</button>
            </td> -->
        </tr>
    </tbody>
</table>
